
        <h1>
                Home/codeial
        </h1>
        <section id="feed-posts">
                <h4>Posts</h4>
                <form action="/posts/create" id="new-post-form" method="POST">
                        <textarea name="content"  cols="30" rows="3" placeholder="Type Here..."></textarea>
                        <input type="submit" value="Post">
                </form>
                <h2>Posts</h2>
                <div id="posts-list-container">
                        <ul>
                                <%foundPost.forEach(function(post){%>
                                        <li><%= post.user %></li>
                                        <li><%= post.content %></li>
                                <%})%>
                        </ul>
                </div>
                
        </section>