html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    div{
        height: 100%;
        width: 100%;
    }
}

// #layout-main{
//     height: 100%;
//     width: 100%;
//     // background-color: black;
// }

#nav{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    background-color:#4c9af7;

    span{
        font-weight: bold;
        font-size: 20px;
        color: #ffff;
    }

    #ul{
        display: flex;
        width: 10%;
        align-items: center;
        justify-content: space-between;

        li{
            list-style:none;
            
            a{
                color: #ffff;
                text-decoration: none;
            }
        }
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color:#3f4045;

    span{
        color: #e9e9e9;
    }
}